version: "3.6"

services:
 mapserver_frontend:
  image: node:22.16.0-alpine
  volumes:
   - "dev_home:/root"
   - ".:/data"
  working_dir: /data/public
  command: ["npm", "ci"]
 
 mapserver:
  image: golang:1.24.3
  depends_on:
   - minetest
   - mapserver_frontend
  volumes:
   - "dev_home:/root"
   - "world_data:/data/world"
   - "go_dir:/go"
   - "go_cache:/.cache"
   - ".:/data"
   - "./public:/data/world/public"
   - "./dev/mapserver.json:/data/world/mapserver.json"
  ports:
   - "8080:8080"
  working_dir: /data/world
  command: ["go", "run", ".."]

 minetest:
  image: ghcr.io/luanti-org/luanti:5.15.0
  user: root
  command: "--gameid minetest"
  volumes:
   - "world_data:/root/.minetest/worlds/world"
   - "./dev/game:/root/.minetest/games/minetest_game"
   - "./dev/worldmods:/root/.minetest/worlds/world/worldmods"
   - "./dev/minetest.conf:/etc/minetest/minetest.conf"
   - "./dev/mapserver.json:/root/.minetest/worlds/world/mapserver.json"
  ports:
   - "30000:30000/udp"

volumes:
  world_data: {}
  dev_home: {}
  go_dir: {}
  go_cache: {}
