body {
  height: 98%;
  margin: 0;
}

#app {
  height: 100%;
}

.full-screen {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.leaflet-custom-display {
  background: #fff;
  padding: 5px;
}

.mapserver-label-icon {
  margin-left: -100px !important;
  margin-top: -100px !important;
}
