body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#image-map {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.leaflet-custom-display {
  background: #fff;
  padding: 5px;
}
