name: docker

on:
  push:
    branches:
      - master
    branches-ignore:
      - 'dependabot/*'
    tags:
    - '*'

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@master

    - name: integration-test
      run: ./integration-test.sh

    - name: docker publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: minetestmapserver/mapserver
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true
        cache: true

    - name: Update pandorabox deployment
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        repository: pandorabox-io/pandorabox.io
        event-type: update_deployment
