name: go-test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5.0.0
      with:
        go-version: '1.21'

    - name: test
      run: go test ./... -coverprofile=profile.cov

    - uses: shogo82148/actions-goveralls@v1.9.0
      with:
        path-to-profile: profile.cov